<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.kebonadmin">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".DetailPerkembanganTanaman"></activity>
        <activity android:name=".ListPerkembanganActivity" />
        <activity android:name=".DetailPembayaranActivity" />
        <activity android:name=".DetailPembayaranJasaActivity" />
        <activity android:name=".LihatPembayaranActivity" />
        <activity android:name=".EditProdukActivity" />
        <activity android:name=".TambahProdukActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>